.landsales-list {
    margin: 0 !important;   /* override auto left/right from .container-fluid */
}
.landsales-list.row {
    padding: 10px;
}
.landsales-list .card {
    cursor: pointer;
    -webkit-transition: background-color .4s;
    transition: background-color .4s;
}
.landsales-list .lot-detail.card {
    cursor: inherit;
}
.landsales-list .card.highlight {
    background-color: #2c3e50;
    color: #ffd400;
}
.stage-item.card {
    max-width: 49%;
}
.stage-item .card-body, .lot-item .card-body {
    padding: 5px;
    height: 40px;
}
.landsales-list .card-title {
    margin-bottom: 0;
}
.lot-detail.card {
    background-color: #e5e5e5;
    border: none;
    border-radius: 0;
}
.lot-detail .card-title {
    font-size: 2em;
    margin-bottom: 12px;
    text-transform: uppercase;
}
.landsales-list.landsales-stage .card-body {
    padding: 4px 0;
}
.landsales-view {
    margin-top: 4px;
    margin-left: 4px;
}
.landsales-stage .landsales-list {
    width: 500px;
}
.landsales-nav, .stage-legend {
    margin-bottom: 8px;
}
.landsales-nav {
    cursor: pointer;
}
.landsales-nav .card-body, .stage-legend .card-body {
    padding: 5px;
    height: 40px;
}
.landsales-nav .card-body {
    font-size: 1.25em;
    -webkit-transition: color .4s;
    transition: color .4s;
    background-color: #2c3e50;
}
.landsales-nav .card-body:hover {
    color: #ffd400;
}
.stage-legend .card-body {
    background-color: #e5e5e5;
}
.landsales-nav-container {
    margin-right: 8px;
    width: 500px;
}
.lot-item.card {
    margin-bottom: 4px;
}
.lot-status {
    position: relative;
    padding: 2px 35px 0 6px;
}
.status-circle {
    position: absolute;
    top: 4px;
    right: 10px;
    width: 20px;
    height: 20px;
}
.lot-status-sold {
    fill: red;
}
.lot-status-held {
    fill: #ffb600;
}
.lot-status-deposit {
    fill: #ff0;
}
.lot-status-available {
    opacity: 0;
}

/* general */
.right {
    text-align: right;
}
.float-left {
    float: left;
}
.float-clear {
    clear: both;
}

/* ============== DEBUG ============== */
.debug {
    border: 1px solid red;
}
