.landsales-map, .landsales-list {
    float: left;
}
.landsales-list {
    width: 300px;
    background-color: #333;
}

.landsales-list .card {
    margin: 10px;
}
.landsales-list .card-body {
    padding: 4px 12px;
}
.landsales-list .card-title {
    margin-bottom: 0;
}
.landsales-list .card.highlight {
    background-color: #e67e22;
}