<div class="landsales-view landsales-lot">
        <div class="landsales-nav-container float-left">
            <div id="landsales-nav" class="landsales-nav card bg-dark text-white">
                <div class="card-body">
                    <h5 class="card-title">&lt; Back to {{previous}}</h5>
                </div>
            </div>
            <div class="landsales-list container-fluid" />
        </div>
        <div class="float-left">
            <div class="landsales-map" />
        </div>
        <div class="float-clear" />
    </div>