<div class="landsales-view landsales-stage">
    <div class="landsales-nav-container float-left">
        <div id="landsales-nav" class="landsales-nav card bg-dark text-white">
            <div class="card-body">
                <h5 class="card-title">&lt; Back to {{previous}}</h5>
            </div>
        </div>
        <div class="landsales-list container-fluid" />
    </div>
    <div class="stage-legend-container float-left">
        <div class="stage-legend card bg-light text-black">
            <div class="card-body">
                <!--
                <div class="lot-status lot-status-deposit float-right">
                        Deposit
                        <div class="status-circle">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                                <circle cx="50" cy="50" r="50" class="status-circle"></circle>
                            </svg>
                        </div>
                </div>
                <div class="lot-status lot-status-held float-right">
                        Held
                        <div class="status-circle">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                                <circle cx="50" cy="50" r="50" class="status-circle"></circle>
                            </svg>
                        </div>
                </div>
                -->
                <div class="lot-status lot-status-sold float-right">
                        Sold
                        <div class="status-circle">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                                <circle cx="50" cy="50" r="50" class="status-circle"></circle>
                            </svg>
                        </div>
                </div>
                <div class="float-clear" />
            </div>
        </div>
        <div class="landsales-map" />
    </div>
    <div class="float-clear" />
</div>